<div class="alert alert-success" *ngIf="successfullMessage">{{successfullMessage}}</div>
<h1>My Todo's</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>is Completed</th>
        <th>Actions</th>
      </tr>
      <tr>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate | date }}</td>
        <td>{{todo.done}}</td>
        <td>
          <button (click)="deleteTodo(todo.id)" class="btn btn-warning">delete</button>
          &nbsp;          
          <button class="btn btn-success" (click)="routeUpdateTodo(todo.id)" >update</button>
          <!-- <button class="btn btn-success" (click)="showModal(todo)" data-toggle="modal" data-target="#openModal">update</button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
      <button class="btn btn-success" data-toggle="modal" data-target="#openModal">Add Todo</button>    
  </div>
</div>
<app-modal modalID="openModal" modalTitle="TODO">
  <form #todoForm = "ngForm" *ngIf="todos">
      <div class="app-form">
          <label class="form-check-label body">Description</label>      
          <input type="text" class="form-control" required="description" name="description" id="description"
          [(ngModel)]="todos.description" ngModel>
      </div>
      <BR>
      <div class="app-form">
          <label class="form-check-label body">Target Date</label>          
          <input type="date" class="form-control" required="true" name="targetDate" id="targetDate"
          [ngModel]="todos.targetDate | date:'yyyy-MM-dd' " (ngModelChange)="todos.targetDate = $event">
      </div>
      
      <BR>
      <div class="app-form">
          <label class="form-check-label body">Completion</label>          
          <input type="text" class="form-control" required="true" name="done" id="done"
          [(ngModel)]="todos.done" ngModel>
      </div>
      
      <BR><BR>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save(todos.id)">Save</button>
        </div>      
  </form>
</app-modal>