<h1>Todo</h1>
<div class="container">
  <fieldset class="form-group">
    <Label>Description</Label>
    <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required="required">
  </fieldset>
  <fieldset class="form-group">      
    <Label>Target Date</Label>
    <input type="date" [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'" class="form-control" name="targetDate" required="required"
    (ngModelChange)="todo.targetDate = $event">
  </fieldset>
  <button class="btn btn-success" (click)="saveTodo()">Save</button>
</div>